block gnb
  nav
    +navBar([
      {
        'name': '/index',
        'id': 'index',
        'content': 'index',
      },
      {
        'name': '/page/sub',
        'id': 'sub',
        'content': 'sub',
      }
    ])