@mixin clearfix() {
  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

@mixin centeredX() {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

@mixin centeredY() {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
