
include _version

//- 메타 정보
- var language = 'ko-KR'
- var encoding = 'UTF-8'
- var viewport = 'width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0'
- var page_title = 'gulp+jspm boilerplate'
- var meta_description = 'gulp+jspm boilerplate'
- var meta_keywords = 'jspm, gulp, jade, sass, es6 '
- var meta_author = 'jsyoung'


