extends ./_template.pug

block header
  .container
    h1 Static site with Gulp build system

block main
  .container

    img(src="/static/image/gulp-logo.png", alt="gulp-logo")

    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, impedit error! Tempore laboriosam sunt odio quam dignissimos veniam, fugit minus quos quas harum, nostrum quo eius, eos in ad maxime. Ipsa ipsam soluta optio, obcaecati animi aut provident illum accusamus, officiis minus quibusdam vel non at quo a explicabo rem esse sunt repellat nostrum dignissimos! Quo, officiis. Consequatur, corrupti eos reiciendis, incidunt saepe id quas eius cumque rerum maxime, voluptates nisi magnam debitis reprehenderit odio impedit suscipit odit. Vel inventore aliquid iusto in! Veritatis ex culpa a non soluta id, doloremque odio, delectus tempore nam saepe necessitatibus aut maiores cum?

block footer
  .container
    p Footer


block javascript